<div class="p-2">
    <h1>Change password</h1>
    <hr>
</div>
<div class="col-4 p-2">
    <div class="form-group p-2">
        <label for="formGroupExampleInput">Password</label>
        <input type="password" class="form-control" id="formGroupExampleInput" placeholder="Password">
    </div>
    <div class="form-group p-2">
        <label for="formGroupExampleInput">Confirm password</label>
        <input type="password" class="form-control" id="formGroupExampleInput" placeholder="Confirm password">
    </div>
    <a href="/change-password" class="row-form-label btn btn-primary m-2">Update</a>
</div>
