<div class="wrapper">
    <div class="overlay">
        <app-hover-icon *ngIf="!image.favorite" (click)="favoritesFunction()" src="#" icon="../../../assets/star-empty.png"></app-hover-icon>
        <app-hover-icon *ngIf="image.favorite" (click)="favoritesFunction()" src="#" icon="../../../assets/star-full.png"></app-hover-icon>
        <app-hover-icon (click)="downloadFunction()" src="#" icon="../../../assets/download.png"></app-hover-icon>
        <app-hover-icon class="corner" (click)="ownerFunction()" src="#" icon={{avatar}} [circle]="true"></app-hover-icon>
    </div>
    <img class="content" [src]=image.data alt="">
</div>
