<div class="container p-2">
    <div class="row mb-5">
        <h1 class="align-middle">{{user.username}}</h1>
        <hr>
    </div>
    <div class="row">
      <div class="col">
        <img *ngIf="user.avatar" src={{user.avatar}} width="250px" height="250px" class="circle"/>
        <img *ngIf="!user.avatar" src='../../../assets/default-avatar.png' width="250px" class="circle"/>
      </div>
      <div class="col">
        <div class="form-group row p-4">
            <p class="row-form-label">Email:</p>
            <p class="row-form-label">Username:</p>
            <p class="row-form-label">Follows:</p>
            <p class="row-form-label">Followers:</p>
          </div>  
        </div>
        <div class="col">            
            <div class="form-group row p-4">
                <p class="row-form-label">{{user.email}}</p>
                <p class="row-form-label">{{user.username}}</p>
                <p class="row-form-label">{{user.follows.length}}</p>
                <p class="row-form-label">{{user.followers.length}}</p>
                <button (click)="toggleFollow()" class="row-form-label btn btn-primary m-2">{{follows ? 'Unfollow' : 'Follow'}}</button>
              </div>
        </div>
    </div>
    <div class="row mt-5">
        <h1 class="align-middle">Collection</h1>
        <hr>
    </div>
    <div class="row">
        <app-image-container [images]="images"></app-image-container>
    </div>
  </div>

