html, body {
    height: 100%;
}

@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family:'Roboto';
    font-style:normal;
    src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fABc9.ttf)format('truetype');
   }

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

*::before, *::after {
    padding: 0;
    margin: 0;
}

:root {
    --main-bg: rgb(20, 224, 20);
    --main-font-size: 16pt;
    --img-preview-size: 254px;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.circle {
    border-radius: 360px;
}

.pointer {
    cursor: pointer;
}